.visually-hidden:not(:focus) :not(:active),
input[type="checkbox"],
visually-hidden,
input[type="radio"],
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.wrapper {
  width: 1220px;
  margin: 0 auto;
}