.visually-hidden:not(:focus) :not(:active),
input[type="checkbox"],
visually-hidden,
input[type="radio"],
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* HEADER */

.banner {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/banner-min.png);
  background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url(../img/banner-min.png);
  background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url(../img/banner-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/banner@2x-min.png);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url(../img/banner@2x-min.png);
    background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url(../img/banner@2x-min.png);
  }
}
.header {
  width: 1220px;
  margin: 0 auto;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 180px;
  padding-top: 30px;
}
.logo__link {
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
}
.logo {
  margin: 0;
  font-size: 30px;
  font-family: "MontserratBold", serif;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav__item:not(:last-child) {
  padding-right: 55px;
}
.nav__item {
  font-size: 14px;
  font-family: "MontserratRegular", serif;
  text-transform: uppercase;
  list-style-type: none;
}

.nav__text {
  text-decoration: none;
  color: rgb(255, 255, 255);
  outline: none;
  -webkit-transition-property: color, border-bottom;
  -o-transition-property: color, border-bottom;
  transition-property: color, border-bottom;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.nav__text:hover {
  content: "";
  padding-bottom: 12px;
  border-bottom: 4px solid rgb(252, 227, 138);
  color: rgb(252, 227, 138);
}
.user-icon {
  fill: rgb(255, 255, 255);
  cursor: pointer;
}
.user-icon:hover {
  fill: rgb(252, 227, 138);
}
.header__desc {
  width: 860px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
}
.header__title {
  font-size: 72px;
  font-family: "KaushanScript";
  text-transform: capitalize;
}

.header__subtitle {
  font-family: "MontserratBold", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 150px;
}

.btn-learn_more {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 28px;
  
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "MontserratBold", serif;
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
}
.btn-learn_more--position {
  margin: 125px 0 230px;
}
/* HEADER END */


/* SERVICES */

.services {
  width: 1220px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__title {
  font-size: 24px;
  font-family: "KaushanScript";
  padding-top: 40px;
}
.services__subtitle {
  font-size: 30px;
  font-family: "MontserratBold", serif;
  text-transform: uppercase;
}
.services__subtitle::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  padding-bottom: 45px;
  border-bottom: 4px solid rgb(243, 129, 129);
}
.work-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.work-list__item {
  -ms-flex-preferred-size: 340px;
      flex-basis: 340px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work-list__item:nth-child(-n+3) {
  padding: 70px 0 100px;
}
.work-list__icon {
padding-right: 30px;
}
.work-list__title {
  margin: 0;
  font-size: 14px;
  font-family: "MontserratRegular", serif;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  padding-bottom: 20px;
}
.work-list__text {
  margin: 0;
  font-size: 15px;
  font-family: "RobotoRegular", serif;
  color: rgb(153, 153, 153);
  line-height: 24px;
}

/* SERVICES END */






.team {
  width: 1220px;
  text-align: center;
}
.team--position {
  margin: 90px auto;
}
.team__title {
  font-size: 24px;
  font-family: "KaushanScript";
  padding-top: 40px;
}
.team__subtitle {
  font-size: 30px;
  font-family: "MontserratBold", serif;
  text-transform: uppercase;
}
.team__subtitle::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  padding-bottom: 45px;
  border-bottom: 4px solid rgb(243, 129, 129);
}
.team__desc {
  font-size: 15px; 
  font-family: "RobotoRegular", serif;
  line-height: 24px;
  color: #999999;
  padding: 40px 0 90px;

}



.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.team__item--hover {
  margin-bottom: 30px;
  position: relative;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  -o-transition-property: transform, box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.team__item--hover:hover {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px 0px rgb(149, 225, 211);
          box-shadow: 10px 10px 0px 0px rgb(149, 225, 211);
}
.team__item--hover::after {
  content: "";
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
  background-image: -o-linear-gradient(bottom, #fce38a, #f38181);
  background-image: linear-gradient(0deg, #fce38a, #f38181);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.team__item--hover:hover::after {
  opacity: 0.9;
}
.team__item--hover:hover .social-list {
  opacity: 1;
}



.social-list {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  cursor: pointer;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.502);
  background-color: rgb(252, 227, 138);
}
.social-list__link:hover {
  background-color: rgb(243, 129, 129);
}
.social-list__link:last-child {
  border-right: none;
}
.social-list__icon {
  fill: rgb(243, 129, 129);
}
.social-list__link:hover .social-list__icon {
  fill: rgb(255, 255, 255);
}

.team__list--title{
  text-transform: uppercase;
  font-size: 14px;
  font-family: "MontserratRegular", serif;
  color: rgb(51, 51, 51);
  margin-bottom: 15px;
}
.team__list--subtitle {
  font-family: "RobotoLight", serif;
}




/* FOOTER */


.footer {
  width: 1220px;
  margin: 0 auto;
  min-height: 65px;
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__desc {
  font-size: 14px;
 font-family: "MontserratRegular", serif;
  color: rgb(51, 51, 51);
}
.footer__link {
  color: rgb(243, 129, 129);
  text-decoration: none;
  outline: none;
}

.footer__form {
  font-family: "RobotoRegular", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  height: 40px;
}
.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding-left: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-right: none;
}
.form__input::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "RobotoLight", serif;
  color: rgb(204, 204, 204);
}
.form__input::-moz-placeholder {
  font-size: 15px;
  font-family: "RobotoLight", serif;
  color: rgb(204, 204, 204);
}
.form__input:-ms-input-placeholder {
  font-size: 15px;
  font-family: "RobotoLight", serif;
  color: rgb(204, 204, 204);
}
.form__input::-ms-input-placeholder {
  font-size: 15px;
  font-family: "RobotoLight", serif;
  color: rgb(204, 204, 204);
}
.form__input::placeholder {
  font-size: 15px;
  font-family: "RobotoLight", serif;
  color: rgb(204, 204, 204);
}
.btn-subscribe {
  margin: 0;
  padding: 0;
  width: 40%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "MontserratBold", serif;
  background-color: rgb(149, 225, 211);
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}